

p{
  font-size:18px;
  font-family: verdana;
  color:#148F77

}
h1{
  font-size:34px;
  font-family: verdana;
  color:#148F77
}
hr{
  color:#148F77
}
h2{
  font-size:28px;
  font-family: verdana;
  color:#148F77
}
.container{
  background-color:#BFC9CA;
  padding-right:40px;
  padding-left:40px;
  padding-top:20px;
  padding-bottom:20px;
}

div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color:#FFFFFF;
}
